.circle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	margin: 10px;
	background-color: green;
	border-radius: 25px;

	animation-name : move;
	animation-duration : 2s;
	/*animation-timing-function : linear;*/
}

@keyframes move {
	0% {
		left: 0px;
		top: 0px;
	}
/*	50% {
		left: 100px;
		top: 100px;
	}*/
	100% {
		left: 200px;
		top: 200px;
		background-color: red;
	}
}
/*
@-webkit-keyframes move {
	to {
		left: 200px;
	}
}*/